extends ../layouts/default

block title
  title Static Website

block body

  h1.
    Hello World!
  img(src='img/powered-by-google-on-white.png', alt='Google logo')

  input(
    type='text'
    id='searchTextField'
    size='50'
    placeholder='Sök svenska städer'
  )

  section#result
